<!-- Squad Theme Section: intro -->
<section id="intro" class="intro">
  <div class="slogan">
    <h2 class="squadh2">WELCOME TO CROWDSUB</h2>
    <h4 class= "squadh4">THE COMMUNITY OF SUBTITLE EDITORS</h4>
  </div>
  <div class="page-scroll">
    <a href="#showallvideos" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>

<div id="showallvideos">
  <div class="heading-about">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="section-heading">
        <h2 class="trendTitle">Trending<a href=#login></a></h2>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

  <% include ./partials/flash %>
  <div class="gallery">
    <div class="container">
        <% videoArr.forEach(function(video) { %>
          <div class="col-md-4">
          <figure class="effect-marley">
            <img src=<%=video.images.poster.url%> alt=<%=video.titles.en%> style="width:290px;height:142px;" class="img-responsive">
            <figcaption>
              <a href=<%="/videos/" + video.id%>
                <h5><%= video.titles.en %></h4>
              </a>
            </figcaption>
          </figure>
          </div>
        <% }) %>
    </div>
  </div>


<!-- Below is day bootstrap template gallery. -->
