/*===========================
  General
============================ */

a {
	color: #444;
}
.top-nav-collapse {
	background: #E6E8E6;
}

/*===========================
  All Video Homepage
============================ */

.trendTitle{
  margin-top:60px;
  text-align:center;
}

.gallery{
  margin-left:62.5px;
}

.gallery figure img {
	opacity: 0.9;
}

.gallery figure figcaption {
	color: #fff;
	font-size: 15px;
  margin-top:5px;
  margin-bottom:12px;
}

figure.effect-marley figcaption {
	text-align: left;
}

/*===========================
  Login and Signup page
============================ */
.authh1{
  margin-top:80px;
}

.authgroup{
  text-align:center;
}

.authinput{
  max-width:300px;
  margin:auto;
}

.btnwrap{
  text-align:center;
}

/*===========================
  Individual Video & Comments Page
============================ */

/*iframe section*/

.iframerow{
	margin-top:50px;
}

/*Minute viewer input*/

.minuteForm{
  text-align:center;
	margin-left:48px;
}

.minuteInput{
  width:70px;
}

.minuteDesc{
  font-size:12px;
  font-style:italic;
  text-align:center;
  margin-left:90px;

	.minViewButt{

	}
}

/*CrowdWall& CrowdSub*/

.wallSubRow{
	max-width:1120px;
	margin:auto;
}

/*CrowdWall*/

.crowdWall, .crowdWallCom{
  display:inline;
  margin-left: 210px;
}

.crowdWallCom{
  margin-left: 163px;
}

.commentsDiv{
  min-height: 300px;
}

.commentsPanel{
  min-height:225px;
}
.commentBox {
    padding: 7.5px;
    border-bottom:1px dotted #bbb;
		/*max-width:350px;*/
}

.well{
	max-width:350px;
}

.usertag {
  margin-bottom:10px;
}

.commentTime{
  margin-left:10px;
}

.suggestedSubs, .reasonOfSubs{
  margin-top:10px;
}

.upvote {
  font-size: 12px;
}

.voteButton, .deleteButton{
  display:inline;
  margin-left:8px;
}

.deleteButton{
  margin-top:2px;
}

.votecount{
  font-size:16px;
}

.hidden {
  display:none;
}

.noBorder {
  border-bottom:none;
}



/*Form*/
.sugsubdiv, .reasondiv{
  margin-top:2px;
}

.crowdSubButt{
  margin-top:-9px;
}

.newCommentsForm{
	font-size: 12px;
}

.formPanel{
	padding-top:5px
}
