a,.tp-caption a.btn:hover {
	color: #444;
}
.top-nav-collapse {
	background: #E6E8E6;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #444;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: rgb(208, 208, 206);
}

.widget-avatar .avatar:hover {
    border: 5px solid rgb(208, 208, 206);
}

.bg-skin {
	background: rgb(208, 208, 206);
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: rgb(208, 208, 206);
}

footer {
    background-color: rgb(208, 208, 206);
}

.btn-skin {
  color: #fff;
  background-color: #67b0d1;
  border-color: #67b0d1;
}
