<%- include('../partials/flash') %>
<div class="row">
  <div class="col-md-12 text-center">
    <iframe id="iframe" width="560" height="300" allowtransparency="true" frameborder="0" src=<%="https://www.viki.com/player/" + videoId%>>
    </iframe>
  </div>
</div>
<form class="minuteForm" action=<%="/videos/" +videoId+ "/view"%> method="post">
  <label for="minute">Minute:</label>
    <input type="text" class="minuteInput" id="minute" name="minute">
  <button type="submit" class="btn btn-primary btn-xs">View</button>
</form>
<p class="minuteDesc">e.g. Entering '0' yields comments between 0 - 1 min</p>

<div class="row">
  <div class="col-md-6 commentsDiv">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h3 class="panel-title">CrowdWall</h3>
      </div>
      <div class="panel-body text-center commentsPanel">
      </div>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">CrowdSub</h3>
      </div>
      <div class="panel-body">
        <%# Creating new comments form%>
        <form class="newCommentsForm" action=<%="/videos/" +videoId%> method="post">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 text-left">
                <label for="timingmin">Minute</label>
                <input type="number" class="form-control" id="timingmin" name="timingmin">
              </div>
              <div class="col-md-6 text-left">
                <label for="timing">Second</label>
                <input type="number" class="form-control" id="timingsec" name="timingsec">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-left sugsubdiv">
                <label for="sugsub">Suggested Subs</label>
              </div>
            </div>
            <input type="text" class="form-control" id="sugsub" name="sugsub" placeholder="e.g. That's why Cinderella is poor...">
            <div class="row">
              <div class="col-md-12 text-left reasondiv">
                <label for="reason">Reason</label>
              </div>
            </div>
            <input type="text" class="form-control" id="reason" name="reason" placeholder="e.g. Culturally, dirty spoon symbolises poverty...">
          </div>
          <button type="submit" class="btn btn-primary btn-sm crowdSubButt">CrowdSub!</button>
        </form>
      </div>
    </div>
  </div>
</div>
